html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    color: #333;
    margin: 0;
    box-sizing: border-box;
}

[data-hover="true"],
[data-hover="true"] * {
    /* fill: #8a3232 !important; */
    opacity: 0.8 !important;
}

[data-selected="true"],
[data-selected="true"] * {
    /* fill: #0da508 !important; */
    filter: brightness(85%);
}

/* click trough svg images */
image {
    pointer-events: none;
}

.bg-light {
    background-color: white;
}


.unxx,
.limitxx,
.noxx,
.antxx {
    opacity: 0;
}


input[type=range]::-webkit-slider-runnable-track {
    background: #5755d9;
    border: 0;
    border-radius: 4px;
    width: 100%;
    height: 4px;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
	margin-top: -4px;
	background: #5755d9;
	width: 12px;
    height: 12px;
    /*background: #ffffff;
    border: 0.4px solid rgba(0, 30, 0, 0.57);
    cursor: pointer;*/
    border-radius: 50%;
    -webkit-appearance: none; 
}

.hide-scrollbar {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
} 
.hide-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.selection {    
    fill: none;
    stroke: #000;
    stroke-width: .75;
    stroke-dasharray: 2 1;
    pointer-events: none;
    z-index: 10;
}

.tooltip:focus::after {
    opacity: 0 !important;
}

.tooltip:hover::after {
    opacity: 1 !important;
}